# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/
Release/
Testing/
.vscode/
pcd/
snapshots/
zero_snapshots/
.DS_Store
build/
onnxruntime*/
*.onnx
models
include/config.h
tests/pcdet_test/include/config.h
tests/pcdet_test/include/params.h
bak/
falcon/
cepton/
*.zip
outputs*/
cmake-build-debug/
.idea/
include/version.h
